.root {
    -fx-font-family: Verdana;
    -fx-font-size: 10px;
}

#vboxAbout {
    -fx-padding: 10;
    -fx-spacing: 10;
    width: 100%;
}

#vboxOptions {
    -fx-padding: 10;
    -fx-spacing: 10;
    width: 100%;
}


.title {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #ff8e00;
}

#lblRequest {
    -fx-text-fill: #ff8e00;
}

#lblResults {
    -fx-text-fill: #ff8e00;
}

#txtAbout .scroll-pane {
    -fx-background-color: transparent;
}

#txtAbout .scroll-pane .viewport {
    -fx-background-color: transparent;
}


#txtAbout .scroll-pane .content {
    -fx-background-color: transparent;
}

#columnTime .label {
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0 0 0 10;
}

#columnResult .label {
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0 0 0 10;
}

#columnStatus .label {
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0 0 0 10;
}

#columnRawMsg .label {
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0 0 0 10;
}