<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" packages="burp.logappender,log4j.extensions">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Console>
    </Appenders>

    <Appenders>
        <Burp name="custom">
            <PatternLayout
                    pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Burp>
    </Appenders>

    <Loggers>
        <Root level="debug" additivity="false">
            <AppenderRef ref="custom" />
        </Root>
    </Loggers>
</Configuration>